---
interface Props {
  id: string;
  class?: string;
}

const { id } = Astro.props;
---

<!-- Compoonent -->
<div data-id={id}>
  <hr />
  <div class="flex items-center">
    <svg
      id={`dropDownCaret-${id}`}
      class="dropDownCaret"
      height="50px"
      width="50px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <g id="Arrow / Caret_Down_MD">
          <path
            id="Vector"
            d="M16 10L12 14L8 10"
            stroke="#d4d4d4"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
      </g>
    </svg>
    <slot name="title" />
  </div>
  <div id={`content-${id}`} class="content m-h-0 pl-14">
    <slot name="content" />
  </div>
</div>
<!-- Styling -->
<style lang="scss">
  .dropDownCaret {
    transition: all 0.5s ease-in-out;
    rotate: -90deg;

    &.open {
      rotate: 0deg;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .content {
    max-height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);

    &.active {
      max-height: 200px; // This is default max-height, but it will get overwritten by JS
    }
  }
</style>
<!-- JavaScript -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Find the <div> parent with the data-id
    document.querySelectorAll("[data-id]").forEach((element) => {
      const id = element.getAttribute("data-id");

      const dropDownCaret = document.getElementById(`dropDownCaret-${id}`)!;
      const contentElement = document.getElementById(`content-${id}`)!;
      dropDownCaret.addEventListener("click", () => {
        const scrollHeight = contentElement.scrollHeight;
        contentElement.classList.toggle("active");
        dropDownCaret.classList.toggle("open");

        if (contentElement.classList.contains("active")) {
          contentElement.style.maxHeight = String(scrollHeight) + "px";
        } else {
          contentElement.style.maxHeight = "0px";
        }
      });
    });
  });
</script>
